.wrapper {
    margin-left:auto;
    margin-right:auto;
    width:2000px;
}

.Choose-player-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #51df56;
    border: none;
    border-radius: 10px;
    box-shadow: 0 6px #999;
}

.Choose-player-button:hover {
    background-color: #3e8e41
}

.Choose-player-button:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.Value-display {
    padding-left: 2%;
    display: inline
}

.Top-stat-box {
    margin: 0 auto;
    margin-top: 1%;
    background-color:rgba(255, 255, 255, 0.863);
    max-width: 1200px;
    padding:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
}

.Pie-chart {
    position: relative;
    height: 400px;
    width: 500px;
    margin-top: .5%;
    margin-left: 4%;
    background-color:rgba(255, 255, 255, 0.863);
    padding:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
}

.Bar-chart {
    position: relative;
    height: 400px;
    width: 500px;
    margin-top: -21%;
    margin-left: 35%;
    background-color:rgba(255, 255, 255, 0.863);
    padding:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
}

.Line-chart {
    position: relative;
    height: 400px;
    width: 500px;
    margin-top: -21%;
    margin-left: 66%;
    background-color:rgba(255, 255, 255, 0.863);
    padding:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
}

.Pie-putt-chart {
    position: relative;
    height: 400px;
    width: 500px;
    margin-top: 1%;
    margin-left: 4%;
    background-color:rgba(255, 255, 255, 0.863);
    padding:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
}

.Pie-greens-chart {
    position: relative;
    height: 400px;
    width: 500px;
    margin-top: -21%;
    margin-left: 35%;
    background-color:rgba(255, 255, 255, 0.863);
    padding:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
}

.Line-putt-chart {
    position: relative;
    height: 400px;
    width: 500px;    
    margin-top: -21%;
    margin-left: 66%;
    background-color:rgba(255, 255, 255, 0.863);
    padding:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
}